@import url("https://fonts.googleapis.com/css?family=Mirza&amp;subset=latin-ext");
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

* {
  /* box-sizing: border-box; */
}

.card.show {
  box-sizing: border-box;
  z-index: 9999;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  position: absolute;
  left: calc(30% - 175px);
  top: calc(40% - 250px);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: initial;
  -webkit-transform: rotate(-10deg) translate(0, 0);
  transform: rotate(-10deg) translate(0, 0);
  -webkit-animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
  animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
@media (max-width: 767px) {
  .card {
    box-sizing: border-box;
    left: calc(50% - 115px);
    top: calc(50% - 164.5px);
  }
}
@media (max-width: 479px) {
  .card {
    box-sizing: border-box;
    left: calc(50% - 75px);
    top: calc(50% - 107px);
  }
}
.card:before {
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px #000;
  transition: all 0.5s ease-in-out;
}
.card.is-opened {
  box-sizing: border-box;
  -webkit-transform: rotate(0deg) translate(175px, 0);
  transform: rotate(0deg) translate(175px, 0);
}
@media (max-width: 767px) {
  .card.is-opened {
    box-sizing: border-box;
    -webkit-transform: rotate(0deg) translate(115px, 0);
    transform: rotate(0deg) translate(115px, 0);
  }
}
@media (max-width: 479px) {
  .card.is-opened {
    box-sizing: border-box;
    -webkit-transform: rotate(0deg) translate(75px, 0);
    transform: rotate(0deg) translate(75px, 0);
  }
}
.card.is-opened .cart-page-front {
  box-sizing: border-box;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

@-webkit-keyframes cardIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) translate(0, -100%);
    transform: rotate(-10deg) translate(0, -100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) translate(0, 0);
    transform: rotate(-10deg) translate(0, 0);
  }
}

@keyframes cardIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) translate(0, -100%);
    transform: rotate(-10deg) translate(0, -100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) translate(0, 0);
    transform: rotate(-10deg) translate(0, 0);
  }
}
.card,
.card-page {
  box-sizing: border-box;
  width: 350px;
  height: 500px;
}
@media (max-width: 767px) {
  .card,
  .card-page {
    box-sizing: border-box;
    width: 230px;
    height: 329px;
  }
}
@media (max-width: 479px) {
  .card,
  .card-page {
    box-sizing: border-box;
    width: 150px;
    height: 214px;
  }
}

.card-page {
  box-sizing: border-box;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  cursor: pointer;
  position: absolute;
  outline: 1px solid transparent;
}

.cart-page-front {
  box-sizing: border-box;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 2;
}

.cart-page-outside,
.cart-page-inside {
  box-sizing: border-box;
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.cart-page-outside {
  border: 10px solid #fbfbfb;
  background: #c72320 url("front-bg.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .cart-page-outside {
    border: 5px solid #fbfbfb;
  }
}

.cart-page-inside {
  background-color: #d4d1d0;
  background-image: url("pattern.png");
  border: 0px solid #d4d1d0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  text-align: center;
}
.cart-page-bottom {
  box-sizing: border-box;
  background-color: #d4d1d0;
  background-image: url("pattern.png");
  border: 20px solid #d4d1d0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .cart-page-inside {
    border: 0px solid #d4d1d0;
  }
  .cart-page-bottom {
    border: 10px solid #d4d1d0;
  }
}

.cart-page-inside {
  box-sizing: border-box;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  border-right: none !important;
  background-position: 0px 80px;
}
@media (max-width: 767px) {
  .cart-page-inside {
    background-position: 0px 30px;
  }
}
@media (max-width: 479px) {
  .cart-page-inside {
    background-position: 0px 30px;
  }
}

.cart-page-bottom {
  box-sizing: border-box;
  z-index: 1;
  /* border-left: none !important; */
  background-position: -22px 80px;
}
@media (max-width: 767px) {
  .cart-page-bottom {
    background-position: 85px 30px;
  }
}
@media (max-width: 479px) {
  .cart-page-bottom {
    background-position: 0px 30px;
  }
}

/* .merry-christmas {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
} */
.merry-christmas img {
  width: 340px;
  height: auto;
}
@media (max-width: 767px) {
  .merry-christmas img {
    width: 200px;
  }
}
@media (max-width: 479px) {
  .merry-christmas img {
    width: 150px;
  }
}

.cart-page-bottom p {
  margin: auto;
  font-family: 'ZCOOL KuaiLe', sans-serif;
  font-size: 42px;
  line-height: 1.4em;
  padding-left: 14px;
}
@media (max-width: 767px) {
  p {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  p {
    font-size: 20px;
  }
}
.cart-page-bottom .img-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 25%;
}

.cart-page-bottom .img-wrapper img {
  -webkit-transform: rotate(-10deg) translate(0, 0);
  transform: rotate(-10deg) translate(0, 0);
}

#myCanvas {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1000;
}